/*
============= 
IMPORTACIONES
=============
*/

@import url('../Recursos/FontAwesome/FontAwesome.css');
@import url('../Recursos/GoogleFonts/GoogleFonts.css');

/*
============= 
RESET ESTILOS
=============
*/

*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img, video {
  display: block;
  width: 100%;
  height: 100%;
}

/*
========= 
VARIABLES
=========
*/

html {

  /* Tonos Color Primario */
  --shadePrimario-1: hsl(40, 85%, 15%);
  --shadePrimario-2: hsl(40, 75%, 30%);
  --shadePrimario-3: hsl(40, 70%, 35%);
  --shadePrimario-4: hsl(40, 65%, 50%);
  --colorPrimario:   hsl(40, 90%, 60%);
  --tintPrimario-6:  hsl(40, 90%, 70%);
  --tintPrimario-7:  hsl(40, 90%, 75%);
  --tintPrimario-8:  hsl(40, 90%, 80%);
  --tintPrimario-9:  hsl(40, 90%, 88%);
  --tintPrimario-10: hsl(40, 100%, 96%);

  /* Tonos Color Base */
  --shadeBase-1:  hsl(210, 60%, 15%);
  --shadeBase-2:  hsl(210, 40%, 25%);
  --shadeBase-3:  hsl(210, 35%, 30%);
  --shadeBase-4:  hsl(210, 30%, 40%);
  --colorBase:    hsl(210, 20%, 50%);
  --tintBase-6:   hsl(210, 20%, 60%);
  --tintBase-7:   hsl(210, 25%, 70%);
  --tintBase-8:   hsl(210, 30%, 80%);
  --tintBase-9:   hsl(210, 35%, 90%);
  --tintBase-10:  hsl(210, 35%, 96%);

  /* Color Peligro */
  --colorPeligro: hsl(0, 65%, 65%);
  --colorFondoOscuro: hsl(0, 0%, 12%);

  /* Fuentes */
  --fuentePrimaria: 'Roboto', sans-serif;
  --fuenteSecundaria: 'Open Sans', sans-serif;

  /* Distancias */
  --radioRedondeo: 8px;
  --anchoAreaActiva: 1200px;
  --altoBarraNavegacion: 6rem;

  /* Otros */
  --transicionGeneral: all 300ms linear;
  --sombraLigera: 0px 5px 15px hsla(0, 0%, 0%, 10%);
  --sombraFuerte: 0px 5px 15px hsla(0, 0%, 0%, 15%);
}

/*
================
ESTILOS GLOBALES
================
*/

body {
  font-family: var(--fuenteSecundaria);
  background: white;
  color: var(--shadeBase-1);
  font-size: 1.4rem;
}

p {
  line-height: 1.4em;
  color: var(--colorBase);
}

p:not(:first-of-type) {
  margin-top: 2rem;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-family: var(--fuentePrimaria);
}

[class|=boton] {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--colorPrimario);
  border: 2px solid transparent;
  padding: 0.75rem 2rem;
  font-size: 1.3rem;  
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--shadeBase-2);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 10%);
  cursor: pointer;
  transition: var(--transicionGeneral);
  transition-property: background-color, color;
}

[class|=boton]:hover {
  background-color: var(--tintPrimario-6);
  color: var(--shadePrimario-1);
}

/* 
==============================
MEDIA QUERIES ESTILOS GLOBALES
==============================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AD: < 1000px */
@media (max-width: 999px) {
  h1, h2, h3, h4 {
    line-height: 1.2em;
  }

  h1 { font-size: 3.6rem; }
  h2 { font-size: 3rem; }
  h3 { font-size: 2.2rem; }
  h4 { font-size: 1.4rem; }
  p  { font-size: 1.3rem; }
}

/* Rango DZ: > 1000px */
@media (min-width: 1000px) {
  h1, h2, h3, h4 {
    line-height: 1em;
  }

  h1 { font-size: 4rem; }
  h2 { font-size: 3.2rem; }
  h3 { font-size: 2.4rem; }
  h4 { font-size: 1.6rem; }
  p  { font-size: 1.4rem; }
}

/* 
=======================
ELEMENTOS TRANSVERSALES
======================= 
*/

div.enlaces-redes-sociales ul {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  justify-content: space-between;
}

div.enlaces-redes-sociales a {
  color: var(--shadeBase-1);
  transition: var(--transicionGeneral);
  transition-property: color;
}

div.enlaces-redes-sociales li:hover a {
  color: var(--colorPrimario);
}

div.enlaces-redes-sociales i.fab {
  transition: color;
  font-size: 2rem;
}

header.encabezado-seccion {
  margin-bottom: 3rem;
  text-align: center;
}

header.encabezado-seccion h2 {
  margin-bottom: 0.5rem;
  letter-spacing: 0.025em;
}

div.linea-separacion {
  margin: 0px auto;
  background-color: var(--colorPrimario);
}

header.encabezado-seccion div.linea-separacion {
  width: 8rem;
  height: 4px;
  margin-top: 1rem;
}

figure.fotografia-principal {
  max-height: 100%;
}

figure.fotografia-principal img {
  border-radius: var(--radioRedondeo);
}

figure.fotografia-principal::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2.5rem;
  left: 2.5rem;
  border: 4px solid var(--colorPrimario);
  border-radius: var(--radioRedondeo);
}

/* 
=====================================
MEDIA QUERIES ELEMENTOS TRANSVERSALES
=====================================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AD: < 1000px */
@media (max-width: 999px) {
  figure.fotografia-principal {
    position: static;
  }
  figure.fotografia-principal img {
    position: static;
  }
  figure.fotografia-principal::after {
    content: none;
  }
}

/* Rango DZ: > 1000px */
@media (min-width: 1000px) {
  figure.fotografia-principal {
    position: relative;
  }
  figure.fotografia-principal img {
    position: relative;
    z-index: 1;
  }
  figure.fotografia-principal::after {
    content: '';
  }
}

/* 
==========
ESTRUCTURA
==========
*/

div.area-activa {
  box-sizing: content-box;
  max-width: var(--anchoAreaActiva);
  height: 100%;
  margin: 0px auto;
}

main > section {
  --paddingSeccion: 5rem;
  padding: var(--paddingSeccion) 0px; 
}

/* 
========================
MEDIA QUERIES ESTRUCTURA
========================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AB: < 580px */
@media (max-width: 579px) {
  div.area-activa {
    padding: 0px 2rem;
  }
}

/* Rango CZ: > 580px */
@media (min-width: 580px) {
  div.area-activa {
    padding: 0px 3rem;
  }
}

/* 
===================
BARRA DE NAVEGACIÓN
===================
*/

section#barra-navegacion {
  position: sticky;
  width: 100%;
  height: var(--altoBarraNavegacion);
  top: 0px;
  left: 0px;
  z-index: 2;
  padding: 1.5rem 0px;
  transition: var(--transicionGeneral);
  transition-property: background-color, box-shadow;
}

section#barra-navegacion.fija {
  background-color: white;
  box-shadow: var(--sombraLigera); 
}

section#barra-navegacion figure.logo-navegacion {
  display: inline-block;
  width: auto;
  height: 1.8rem;
}

section#barra-navegacion figure.logo-navegacion img {
  height: 100%;
}

section#barra-navegacion header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
}

button#boton-menu-navegacion {
  background-color: transparent;
  border: none;
  font-size: 2.4rem;
  color: var(--colorPrimario);
  cursor: pointer;
}

section#barra-navegacion nav.enlaces-navegacion ul {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, max-content);
  align-content: center;
  justify-content: end;
  column-gap: 3rem;
}

section#barra-navegacion nav.enlaces-navegacion ul a {
  color: var(--shadeBase-1);
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: var(--transicionGeneral);
  transition-property: color;
}

section#barra-navegacion nav.enlaces-navegacion ul li:hover a {
  color: var(--colorPrimario);
}

/* 
==============================
MEDIA QUERIES BARRA NAVEGACIÓN
==============================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AC: < 760px */
@media (max-width: 759px) {
  section#barra-navegacion {
    background-color: white;
  }
  section#barra-navegacion nav.enlaces-navegacion {
    display: none;
  }
  button#boton-menu-navegacion {
    display: inline-block;
  }
}

/* Rango CZ: > 760px */
@media (min-width: 760px) {
  section#barra-navegacion {
    background-color: var(--tintPrimario-10);
  }
  section#barra-navegacion nav.enlaces-navegacion {
    display: block;
  }
  button#boton-menu-navegacion {
    display: none;
  }
  section#barra-navegacion div.area-activa {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
}

/* 
==================
NAVEGACIÓN LATERAL
==================
*/

aside#navegacion-lateral {
  display: grid;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: var(--tintBase-10);
  place-items: center;
  transform: translateX(-100%);
  transition: var(--transicionGeneral);
  transition-property: transform;
}

aside#navegacion-lateral.visible {
  transform: translateX(0px);
}

button#boton-cerrar-navegacion {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  font-size: 2.4rem;
  color: var(--shadeBase-2);
  cursor: pointer;
  transition: var(--transicionGeneral);
  transition-property: color;
}

button#boton-cerrar-navegacion:hover {
  color: var(--colorPeligro);
}

aside#navegacion-lateral nav.enlaces-navegacion ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.65rem;
}

aside#navegacion-lateral nav.enlaces-navegacion li {
  text-align: center;
}

aside#navegacion-lateral nav.enlaces-navegacion a {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--shadeBase-4);
  transition: var(--transicionGeneral);
  transition-property: color;
}

aside#navegacion-lateral nav.enlaces-navegacion li:hover a {
  color: var(--colorPrimario);
}

aside#navegacion-lateral div.enlaces-redes-sociales {
  margin-top: 5rem;
}

aside#navegacion-lateral div.enlaces-redes-sociales ul {
  width: 22rem;
}

/* 
=============
SECCIÓN: HERO
=============
*/

section#seccion-hero {
  min-height: calc(100vh - var(--altoBarraNavegacion) - 2*var(--paddingSeccion));
  background-color: var(--tintPrimario-10);
}

section#seccion-hero div.area-activa {
  display: grid;
  min-height: inherit;
  align-items: center;
}

section#seccion-hero header.encabezado-seccion {
  text-align: left;
}

section#seccion-hero article.sector-informacion div.linea-separacion {
  margin: 0px;
  margin-bottom: 1rem;
}

section#seccion-hero article.sector-informacion h1 {
  margin-bottom: 0.75rem;
  letter-spacing: 0.035em;
}

section#seccion-hero article.sector-informacion h2 {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--shadeBase-3);
}

section#seccion-hero article.sector-informacion a.boton-hero {
  margin-top: 2.5rem;
}

section#seccion-hero article.sector-informacion div.enlaces-redes-sociales {
  margin-top: 2.5rem;
}

section#seccion-hero figure.fotografia-principal {
  max-width: 30rem;
}

/* 
===========================
MEDIA QUERIES SECCIÓN: HERO
===========================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AD: < 1000px */
@media (max-width: 999px) {
  section#seccion-hero div.area-activa {
    grid-template-columns: max-content;
    justify-content: center;
  }

  section#seccion-hero article.sector-imagen {
    display: none;
  }
}

/* Rango DZ: > 1000px */
@media (min-width: 1000px) {
  section#seccion-hero div.area-activa {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
  }

  section#seccion-hero article.sector-imagen {
    display: block;
  }
}

/* 
==================
SECCIÓN: ACERCA DE
==================
*/

section#seccion-acerca div.area-activa {
  display: grid;
  row-gap: 3rem;
  align-items: center;
}

section#seccion-acerca article.sector-imagen {
  justify-self: center;
}

section#seccion-acerca figure.fotografia-principal {
  max-width: 30rem;
}

section#seccion-acerca figure.fotografia-principal::after {
  left: auto;
  right: 2.5rem;
}

section#seccion-acerca article.sector-informacion h2 {
  text-align: left;
}

section#seccion-acerca article.sector-informacion p {
  text-align: justify;
}

section#seccion-acerca article.sector-informacion div.linea-separacion {
  margin-left: 0px;
}

section#seccion-acerca article.sector-informacion a.boton-acerca {
  margin-top: 2.5rem;
}

/* 
================================
MEDIA QUERIES SECCIÓN: ACERCA DE
================================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AD: < 1000px */
@media (max-width: 999px) {
  section#seccion-acerca div.area-activa {
    grid-template-columns: auto;
    justify-content: normal;
  }
}

/* Rango DZ: > 1000px */
@media (min-width: 1000px) {
  section#seccion-acerca div.area-activa {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-evenly;
  }
  section#seccion-acerca article.sector-informacion p {
    max-width: 65ch;
  }
}

/* 
==================
SECCIÓN: SERVICIOS
==================
*/

section#seccion-servicios {
  background-color: var(--tintBase-10);
}

section#seccion-servicios div.galeria-servicios {
  display: grid;
  gap: 2rem;
}

section#seccion-servicios article {
  border-radius: var(--radioRedondeo);
  background-color: white;
  padding: 2.5rem 1.5rem;
  text-align: center;
  transition: var(--transicionGeneral);
  transition-property: background-color;
}
section#seccion-servicios header.encabezado-servicio {
  margin-bottom: 2rem;
}

section#seccion-servicios header.encabezado-servicio p.icono-servicio {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  color: var(--shadeBase-1);
}

section#seccion-servicios header.encabezado-servicio h3.titulo-servicio {
  margin-bottom: 1rem;
}

section#seccion-servicios header.encabezado-servicio div.linea-separacion {
  width: 5rem;
  height: 2px;
}

section#seccion-servicios article:hover {
  background-color: var(--colorPrimario);
}

section#seccion-servicios :is(p.icono-servicio, h3.titulo-servicio),
section#seccion-servicios div.cuerpo-servicio p {
  transition: var(--transicionGeneral);
  transition-property: color;
}

section#seccion-servicios article:hover :is(p.icono-servicio, h3.titulo-servicio),
section#seccion-servicios article:hover div.cuerpo-servicio p {
  color: white;
}

/* 
================================
MEDIA QUERIES SECCIÓN: SERVICIOS
================================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AB: < 580px */
@media (max-width: 579px) {
  section#seccion-servicios div.galeria-servicios {
    grid-template-columns: auto;
  }
}

/* Rango BD: 580px - 1000px */
@media (min-width: 580px) and (max-width: 999px) {
  section#seccion-servicios div.galeria-servicios {
    grid-template-columns: repeat(2, 1fr);
  }
  section#seccion-servicios div.galeria-servicios > article:last-of-type {
    grid-column-end: span 2;
  }
}

/* Rango DZ: > 1000px */
@media (min-width: 1000px) {
  section#seccion-servicios div.galeria-servicios {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 
==================
SECCIÓN: PROYECTOS
==================
*/

section#seccion-proyectos div.descripcion-seccion p {
  max-width: 80ch;
  margin: 0px auto;
  text-align: center;
}

section#seccion-proyectos div.galeria-proyectos {
  display: grid;
  margin-top: 5rem;
  grid-auto-rows: 240px;
  gap: 2rem;
}

section#seccion-proyectos article.proyecto:nth-of-type(1) { grid-area: A; }
section#seccion-proyectos article.proyecto:nth-of-type(2) { grid-area: B; }
section#seccion-proyectos article.proyecto:nth-of-type(3) { grid-area: C; }
section#seccion-proyectos article.proyecto:nth-of-type(4) { grid-area: D; }

section#seccion-proyectos article.proyecto {
  border-radius: var(--radioRedondeo);
  overflow: hidden;
}

section#seccion-proyectos article.proyecto > a {
  display: block;
  position: relative;
  height: 100%;
}

section#seccion-proyectos article.proyecto figure {
  height: 100%;
}

section#seccion-proyectos article.proyecto img {
  object-fit: cover;
  object-position: center;
}

section#seccion-proyectos article.proyecto div.overlay-proyecto {
  display: grid;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  align-content: center;
  opacity: 0;
  transition: var(--transicionGeneral);
  transition-property: opacity;
}

section#seccion-proyectos article.proyecto div.overlay-proyecto::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--colorPrimario);
  opacity: 0.5;
}

section#seccion-proyectos article.proyecto div.overlay-proyecto::after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  border-radius: var(--radioRedondeo);
  border: solid 1px white;
  transition: var(--transicionGeneral);
  transition-property: left, right, top, bottom;
}

section#seccion-proyectos article.proyecto:hover div.overlay-proyecto {
  opacity: 1;
}

section#seccion-proyectos article.proyecto:hover div.overlay-proyecto::after {
  left: 2rem;
  right: 2rem;
  top: 2rem;
  bottom: 2rem;
}

section#seccion-proyectos article.proyecto div.informacion {
  position: relative;
  padding: 2rem 0px;
  background-color: hsla(0, 0%, 0%, 35%);
  text-align: center;
}

section#seccion-proyectos article.proyecto div.informacion h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.035em;
  color: white;
}

section#seccion-proyectos article.proyecto div.informacion p {
  font-size: 1.3rem;
  color: white;
}

/* 
================================
MEDIA QUERIES SECCIÓN: PROYECTOS
================================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AB: < 580px */
@media (max-width: 579px) {
  section#seccion-proyectos div.galeria-proyectos {
    grid-template-columns: 1fr;
    grid-template-areas: 
      'A' 
      'B' 
      'C' 
      'D';
    column-gap: 3rem;
  }
}

/* Rango BC: 580px - 760px */
@media (min-width: 580px) and (max-width: 759px) {
  section#seccion-proyectos div.galeria-proyectos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'A B'
      'C D';
  }
}

/* Rango BZ: > 760px */
@media (min-width: 760px) {
  section#seccion-proyectos div.galeria-proyectos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'B A C'
      'B D D';
  }
}

/* 
=================
SECCIÓN: CONEXIÓN
=================
*/

section#seccion-conexion {
  padding-bottom: 0px;
}

section#seccion-conexion div.contenido-seccion {
  position: relative;
  width: 100%;
  min-height: 80vh;
}

section#seccion-conexion div.video-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

section#seccion-conexion div.video-fondo video {
  object-fit: cover;
}

section#seccion-conexion div.video-fondo::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  opacity: 0.65;
  pointer-events: none;
}

section#seccion-conexion div.area-activa {
  display: grid;
  min-height: inherit;
  place-content: center;
}

section#seccion-conexion div.sombra-banner {
  filter: drop-shadow(var(--sombraFuerte));
}

section#seccion-conexion div.banner-informacion {
  margin: 5rem 0px;
  border-radius: var(--radioRedondeo);
  background-color: var(--tintPrimario-10);
  padding: 4rem;
  text-align: center;
}

section#seccion-conexion header.encabezado-seccion {
  margin-bottom: 2rem;
}

section#seccion-conexion div.contenido-banner {
  margin: 0px auto;
  max-width: 55ch;
}

section#seccion-conexion div.contenido-banner a.boton {
  margin-top: 3rem;
}

section#seccion-conexion div.contenido-seccion::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: var(--tintPrimario-9);
}

/* 
================================
MEDIA QUERIES SECCIÓN: CONEXIÓN
================================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AB: < 580px */
@media (max-width: 579px) {
  section#seccion-conexion div.video-fondo {
    clip-path: none;
  }
  section#seccion-conexion div.banner-informacion {
    clip-path: none;
  }
}

/* Rango BZ: > 580px */
@media (min-width: 580px) {
  section#seccion-conexion div.banner-informacion {
    clip-path: 
      polygon(0% 0%, 100% 0%, 100% 85%, 90% 85%, 90% 100%, 80% 85%, 0% 85%);
    padding-bottom: 9rem;
  }
}

/* Rango BD: 580px - 1000px */
@media (min-width: 580px) and (max-width: 999px) {
  section#seccion-conexion div.video-fondo {
    clip-path:
      polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  }
}

/* Rango BZ: > 1000px */
@media (min-width: 1000px) {
  section#seccion-conexion div.video-fondo {
    clip-path:
      polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0% 10%);
  }
}

/* 
====================
SECCIÓN: HABILIDADES
====================
*/

section#seccion-habilidades {
  background-color: var(--tintPrimario-9);
}

section#seccion-habilidades div.contenido-seccion {
  display: grid;
  gap: 5rem;
}

section#seccion-habilidades h3.titulo-sector {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--shadePrimario-1);
}

section#seccion-habilidades div.cuerpo-sector article.habilidad:not(:first-of-type) {
  margin-top: 1.5rem;
}

section#seccion-habilidades div.informacion-habilidad {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

section#seccion-habilidades div.informacion-habilidad label.titulo-habilidad {
  color: var(--shadePrimario-1);
}

section#seccion-habilidades div.informacion-habilidad span.valor-habilidad {
  position: absolute;
  transform: translateX(-50%);
  color: var(--shadePrimario-2);
}

section#seccion-habilidades span.valor-habilidad[data-valor='10'] { 
  left: 10%; 
}
section#seccion-habilidades span.valor-habilidad[data-valor='20'] { 
  left: 20%; 
}
section#seccion-habilidades span.valor-habilidad[data-valor='30'] { 
  left: 30%; 
}
section#seccion-habilidades span.valor-habilidad[data-valor='40'] { 
  left: 40%; 
}
section#seccion-habilidades span.valor-habilidad[data-valor='50'] { 
  left: 50%; 
}
section#seccion-habilidades span.valor-habilidad[data-valor='60'] { 
  left: 60%; 
}
section#seccion-habilidades span.valor-habilidad[data-valor='70'] { 
  left: 70%; 
}
section#seccion-habilidades span.valor-habilidad[data-valor='80'] { 
  left: 80%; 
}
section#seccion-habilidades span.valor-habilidad[data-valor='90'] { 
  left: 90%; 
}

section#seccion-habilidades article.habilidad progress {
  --alturaBarra: 1.5rem;
  display: block;
  appearance: none;
  width: 100%;
  height: var(--alturaBarra);
  border-radius: var(--alturaBarra);
  overflow: hidden;
  border: none;
  background-color: white;
}

section#seccion-habilidades article.habilidad progress::-moz-progress-bar,
section#seccion-habilidades article.habilidad progress::-webkit-progress-value {
  background-color: var(--colorPrimario);
}

/* 
==================================
MEDIA QUERIES SECCIÓN: HABILIDADES
==================================
*/

/* Break Points: A) 0px, B) 580px, C) 760px D) 1000px, E) 1200px */
/* Rango AC: < 760px */
@media (max-width: 759px) {
  section#seccion-habilidades div.contenido-seccion {
    grid-template-columns: 1fr;
  }
}

/* Rango CZ: > 760px */
@media (min-width: 760px) {
  section#seccion-habilidades div.contenido-seccion {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 
=====================
SECCIÓN: LÍNEA TIEMPO
===================== 
*/

section#seccion-linea-tiempo div.contenedor-linea-tiempo {
  --numeroEventos: 6;
  width: 100%;
  max-width: max-content;
  margin: 0px auto;
  padding: 0px 2rem;
  counter-reset: numero-evento calc(var(--numeroEventos) + 1);
}

section#seccion-linea-tiempo article.evento {
  --radioLinea: 3rem;
  --estiloBorde: dotted;
  position: relative;
  max-width: 65ch;
  border: 2px hidden var(--colorPrimario);
  border-top-style: var(--estiloBorde);
  padding: 5rem 0px;
}

section#seccion-linea-tiempo article.evento:nth-of-type(odd) {
  margin-left: var(--radioLinea);
  border-right-style: var(--estiloBorde);
  border-top-right-radius: var(--radioLinea);
  border-bottom-right-radius: var(--radioLinea);
  padding-right: 4rem;
  text-align: right;
}

section#seccion-linea-tiempo article.evento:nth-of-type(even) {
  margin-right: var(--radioLinea);
  border-left-style: var(--estiloBorde);
  border-top-left-radius: var(--radioLinea);
  border-bottom-left-radius: var(--radioLinea);
  padding-left: 4rem;
  text-align: left;
}

section#seccion-linea-tiempo article.evento:first-of-type {
  border-top-style: none;
  border-top-right-radius: 0px;
}

section#seccion-linea-tiempo article.evento:last-of-type {
  border-bottom-style: none;
  border-bottom-left-radius: 0px;
}

section#seccion-linea-tiempo article.evento h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.035em;
}

section#seccion-linea-tiempo span.numero-evento {
  --diametroNumero: 3.5rem;
  display: grid;
  position: absolute;
  width: var(--diametroNumero);
  height: var(--diametroNumero);
  top: 50%;
  border-radius: var(--diametroNumero);
  background-color: var(--colorPrimario);
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--shadePrimario-1);
  place-items: center;
}

section#seccion-linea-tiempo article.evento:nth-of-type(odd) span.numero-evento {
  right: 0px;
  transform: translate(50%, -50%);
}

section#seccion-linea-tiempo article.evento:nth-of-type(even) span.numero-evento {
  left: 0px;
  transform: translate(-50%, -50%);
}

section#seccion-linea-tiempo span.numero-evento::before {
  display: inline-block;
  counter-increment: numero-evento -1;
  content: counter(numero-evento);
}

/*
=============
SECCIÓN: BLOG
=============
*/

section#seccion-blog {
  background-color: var(--tintBase-10);
}

section#seccion-blog article.publicacion {
  position: relative;
  min-height: 300px;
  perspective: 1500px;
}

section#seccion-blog article.publicacion div[class|='lado'] {
  min-height: inherit;
  backface-visibility: hidden;
  transition: transform 2s ease-in-out;
}

section#seccion-blog article.publicacion div.lado-frontal {
  position: relative;
  background-color: white;
  transform: rotateY(0deg);
}

section#seccion-blog article.publicacion div.lado-reverso {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--tintPrimario-10);
  transform: rotateY(180deg)
}

section#seccion-blog article.publicacion:hover div.lado-frontal {
  transform: rotateY(180deg);
}

section#seccion-blog article.publicacion:hover div.lado-reverso {
  transform: rotateY(0deg);
}

/* 
======
FOOTER
======
*/

footer#footer-sitio {
  background-color: var(--colorFondoOscuro);
  padding: 4rem 0px;
}

footer#footer-sitio div.enlaces-redes-sociales {
  margin-bottom: 1.5rem;
}

footer#footer-sitio div.enlaces-redes-sociales ul {
  width: 20rem;
  margin: 0px auto;
}

footer#footer-sitio div.enlaces-redes-sociales a {
  color: var(--tintPrimario-6);
}

footer#footer-sitio div.enlaces-redes-sociales i.fab {
  font-size: 2rem;
}

footer#footer-sitio div.enlaces-redes-sociales li:hover a {
  color: white;
}

footer#footer-sitio p.informacion-secundaria {
  text-transform: capitalize;
  text-align: center;
}
